*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #5c030b;
    color:white;
    display: flex;
    justify-content: center;
}
body nav{
    z-index: 65;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: #350105;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px black;
}
body .container{
    width:900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 65px;
    font-family: Arial, Helvetica, sans-serif;
}
body nav .logo{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    gap:5px;
}
body a.logo{
    text-decoration: none;
}
body nav .logo .img{
    background-image: url('../Assets/Icons/sae3.png');
    width:35px;
    height:35px;
    background-size: cover;
}

body nav .logo div:last-child>span{
    color:#7b322e;
    display:inline-block
}
body nav .logo div:last-child>span::first-letter{
    color:#5c030b;
}
body main{
    width:100%;
}
body main div {
    direction: rtl;
    background-color: #350105;
    border-radius: 10px;
    padding:15px;
    display: flex;
    justify-content: center;
    gap:10px;
    width:100%;
    flex-wrap: wrap;
}
body main div h2{
    width:100%;
    display: flex;
    justify-content: center;
    color:#b3817b;
}
body main div a{
    text-decoration: none;
    color:white;
    font-weight: 600;
    width:fit-content;
    background-color: #5c030b;
    padding:5px;
    border-radius: 5px;
}
body div.map{
    width:100%;
    display: flex;
    justify-content: center;
    position: relative;
}
body div.map>a{
    position: absolute;
    width:400px;
    aspect-ratio: 1/1;
    left: 50%;
    transform: translateX(-50%);
    top:0;
    background-color: #35010579;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color:white;
    text-decoration: none;
}
body div.map>div{
    width:400px;
    aspect-ratio: 1/1;
    background-image: url('/Assets/map.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border:3px solid #350105;
}
body div.staff{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid #350105;
    padding:15px;
    border-radius: 10px;
    flex-wrap: wrap;
}
body div.staff>h2{
    width:100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    color:#b3817b;
}
body div.staff>div{
    padding:10px;
    background-color: #350105;
    display: flex;  
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 15px;
    border-radius: 10px;
}
body div.staff>div>div{
    width:100px;
    aspect-ratio: 1/1;
    background-image: url('/Assets/gm.png');
    background-size: 100%;
    border-radius: 50%;
    border: 3px solid #5c030b;
}
body div.staff>div>span{
    font-weight: 600;
}
body footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 15px;
}
body footer>div{
    display: flex;
    align-items: center;
    gap:5px;
}
body footer a{
    color:white;
    text-decoration: none;
    font-weight: 700;
}
body footer a.wa{
    display: inline-block;
    width: 30px;
    aspect-ratio: 1/1;
    background-image: url('/Assets/wa.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #350105;
}
body footer div.A{
    width:100%;
    justify-content: center;
    align-items: center;
    font-size: 1.3;
    font-weight: 600;
}
body footer div.A>a{
    width:30px;
    aspect-ratio: 1/1;
    background-image: url('/Assets/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width:900px) {
    body .container{
        width:98%;
    }
}
@media (max-width:600px) {
    body div.map>a,body div.map>div{
        width:90%;
    }
    body footer{
        flex-direction: column;
    }
}